{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
 <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen18.jpg'%}" alt="">
        <div class="intro-text left-1 text-sm-start bg-faded p-4 rounded" style="background-color: rgba(114, 106, 61, 0.233);">
          <h2 class="section-heading mb-4" ><center>
            <span class="section-heading-lower  ">CIM</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;">Club house</span>
          </h2>
          <p class="mb-3"> __  </p>
        </center>
        </div>
      </div>
    </div>

<section class="page-section clearfix"><center> 
      <h2><span class="section-heading-lower" style="color: darkgoldenrod; font-size: 2cm; font-family: fantasy;">Robotics Kids Party </span> </h2>
      <h2><span class="section-heading-lower" style="color: darkgoldenrod; font-size: 1cm; font-family: fantasy;">29 ABRIL 2023</span> </h2>
      <div class="container">
        <div class="intro">
          <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQrJyhDsZ-aZ2ROptrcjN-RpgpRf3lCGIAYiLPGnF7ZZbwk2QTtOKdg4KYyZnnxTsA9hBAAhL_TifCv/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>        </div>
      </center>
    </section>


<section class="page-section clearfix"><center> 
  <h2><span class="section-heading-lower" style="color: darkgoldenrod; font-size: 2cm; font-family: fantasy;">ONU  PUJMUN </span> </h2>
  <h2><span class="section-heading-lower" style="color: darkgoldenrod; font-size: 1cm; font-family: fantasy;">22 ABRIL 2023 </span> </h2>

  <div class="container">
    <div class="intro">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSYHxYa1enyRgpRNWu_j3cUCJs6WRybHU_dpPuuuWwTk3bQ8f3OPxBIp7jLycxgD2BfsBdY9I7qkSXK/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>    </div>
  </center>
</section>

  <div class="main-container">
    <table style="width: 100% !important;height: 100%;">
      <tr>
        <td>   
          <center>
            <h2>  <span class="section-heading-lower" style="color: darkgoldenrod; font-size: 2cm; font-family: fantasy;">PRIMARIA</span> </h2>
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/clublista2.jpg'%}" alt="">        
          </center> 
        </td>
        <td>  
          <center>
            <h2>  <span class="section-heading-lower" style="color: darkgoldenrod; font-size: 2cm; font-family: fantasy;">BACHILLERATO</span> </h2>
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/clublista.jpg'%}" alt="">        
          </td>
      </tr>
    </table>


</div>

</section>
{%endblock%}
