{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

  
<!-- Message -->
<section class="page-section cta" style="background-color: rgba(255, 217, 0, 0);">

  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">GALERIA</span>
          </h2>
          
        </div>
      </div>
    </div>
  </div>
</section>


<div class="main-container">
  <table style="width: 100% !important;height: 100%;">
    <tr>
      <td>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcimschoolcol%2Fposts%2Fpfbid02YSinjduySVxirt7zx1cSfAoi8rqiML1abp3z7xkQv258qtwyGtJJcV6CUoPmrb8Ul&show_text=true&width=500" width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </td>
      <td>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D686868479903943%26set%3Da.570709228186536%26type%3D3&show_text=true&width=500" width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </td>
     <td>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D682770130313778%26set%3Da.570709228186536%26type%3D3&show_text=false&width=500" width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
    </td>
  </tr>
  </table>

  <div class="main-container">

    <table style="width: 100% !important;height: 100%;">
      <tr>
        <td>   
          <center>
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fcimschoolcol%2Fvideos%2F586726733393411%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
          </center> 
        </td>
        <td>
          <center>
            <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fcimschoolcol%2Fvideos%2F612634830923498%2F&show_text=false&width=267&t=0" width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
          </center>
        </td>
        <td>  
          <center>
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fcimschoolcol%2Fvideos%2F1299570927327232%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>          </center>
        </td>
      </tr>
    </table>


</div>

{%endblock%}
