{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <!-- <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen12.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">Tablón de anuncios</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;">  </span>
          </h2>
          <p class="mb-3"> </p>
         
        </div>
      </div>
    </div>
  </section> -->

        <!-- Message -->
        <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0);">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Instructivos</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <br>     
          <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > INSTRUCTIVO INGRESO A VIRTUAL CIM MOODLE  </h2></center>

           <center><a href="https://www.canva.com/design/DAFbcv06IXY/aVCFNO437pGcmTEEw6vJjw/view?website#2:video-de-apoyo" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo ingreso a plataforma Virtual CIM </a></center>

        </section>




<section class="page-section cta" style="background-color: rgba(255, 217, 0, 0);">
  <div class="container">
    <div class="row" >
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > INTEGRANDO A PADRES</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/prejardin.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">PREJARDIN</P>
        <a href="https://drive.google.com/drive/folders/15FHwq6PuEO3f6PqXvAKsVHUQ6_cvUb4U?usp=share_link" target="_blank" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/jardin.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> JARDIN </h5>
           <a href="https://drive.google.com/drive/folders/1iO_ZwvECfXg7PRoeauk6t5By5VKfzQvD?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/tra1.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> TRA 1 </h5>
       <a href="https://drive.google.com/drive/folders/1JQX3kcURQqoQJT_sJgi3L-D6lBHB2JUQ?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/tra2.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> TRA 2 </h5>
      <a href="https://drive.google.com/drive/folders/19U61oMUaKwLMTzqIcd3V4Ryy0tcGJEPd?usp=share_link" class="btn btn-primary">Ver </a>
    </div>
  </div>



</div>


<br>


<div class="card-deck">

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/101.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  101 </h5>
      <a href="https://drive.google.com/drive/folders/1UpY7KmoI0w9BgmVCYL1yfADsrUJv6iLw?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/102.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">102</P>
        <a href="https://drive.google.com/drive/folders/1ra1Ch7pXpV3HAxX538KkI0Y1EWLv7Yb-?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/103.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 103 </h5>
           <a href="https://drive.google.com/drive/folders/1zUQLTQa_b3OJKFru4_tsXsmsudN56kYQ?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/104.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 104 </h5>
       <a href="https://drive.google.com/drive/folders/1s2dBXkEo7EdLAqmLhHl5gxmeXZ8VjX5h?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/105.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 105 </h5>
      <a href="https://drive.google.com/drive/folders/1I4Iyql1GPf560bq67WagkbeZ4bdTa1HG?usp=share_link" class="btn btn-primary">Ver </a>
    </div>
  </div>


</div>


<br>


<div class="card-deck">

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/201.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  201 </h5>
      <a href="https://drive.google.com/drive/folders/1-s0uOeoELeMu5subtfmjU4EvOsTJoIdu?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>



  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/202.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">202</P>
        <a href="https://drive.google.com/drive/folders/18V83iRtYX0Yo_3rz2hmsfFmEBUh5rAiE?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/203.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 203 </h5>
           <a href="https://drive.google.com/drive/folders/1-wv8Poxh4x9PIGS2o9FVLCRVhfPlpsDf?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>

</div>


<br>

<div class="card-deck">

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/301.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 301 </h5>
       <a href="https://drive.google.com/drive/folders/1XX8HiffDrOffBhpoCXVl-vJw_29T7O5x?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/302.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 302 </h5>
      <a href="https://drive.google.com/drive/folders/1Lzd0dFklSx-VWsMQz0R6rkUhgqKSZ9_E?usp=share_link" class="btn btn-primary">Ver </a>
    </div>

  </div>

</div>

<br>

<div class="card-deck">
  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/401.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  401 </h5>
      <a href="https://drive.google.com/drive/folders/1s3wzvhaNgHy96a8Q4XXO1Hzfmt8MI1oO?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/402.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">402</P>
        <a href="https://drive.google.com/drive/folders/1BawzXds28x_vmlXVla-FaStkecbM8YYn?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/403.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 403 </h5>
           <a href="https://drive.google.com/drive/folders/1LxP_AEi25pvS1MUfuYTfd4lsAUWs_ziL?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>

</div>

<br>
<div class="card-deck">
  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/501.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 501 </h5>
       <a href="https://drive.google.com/drive/folders/1g7Nhr5RkL2ZhnKkCs48DZkthpWdniGsh?usp=share_link " class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/502.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 502 </h5>
      <a href="https://drive.google.com/drive/folders/14a1_IKKRpC2x5zeEG83Q3-gUf4QN8OLm?usp=sharing" class="btn btn-primary">Ver </a>
    </div>
  </div>


</div>


<br>

<div class="card-deck">

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/601.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  601 </h5>
      <a href="https://drive.google.com/drive/folders/1m-RNvggrd_ssZriBxCWcc18NWZp06Sxt?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/602.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">602</P>
        <a href="https://drive.google.com/drive/folders/1nsdaA3E2s4OirFSeDcjM8PfyXGYifoVJ?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/603.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 603 </h5>
           <a href="https://drive.google.com/drive/folders/1W_lt_LKuDqOXHSmmLZBKVYX5w1i_9tcf?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>
</div>
<br>

<div class="card-deck">

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/701.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 701 </h5>
       <a href="https://drive.google.com/drive/folders/1sF90dgKEo_MP_7Zuil1dVpq7DLSnckug?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/702.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 702 </h5>
      <a href="https://drive.google.com/drive/folders/1om6aDr8JmoUjjVsj2l1nyMihkGcPRulS?usp=share_link" class="btn btn-primary">Ver </a>
    </div>
  </div>


  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/703.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">  703 </h5>
      <a href="https://drive.google.com/drive/folders/13U6n8lQnAH7KXhadIARN_9I-vs0lysjx?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

</div>
</div>


<br>



<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/801.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <P class="card-title" style="font-size: small;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">801</P>
        <a href="https://drive.google.com/drive/folders/1t3bSSdp1DNVDnx6oIZYXLjhgqP_FPfND?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/802.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 802 </h5>
           <a href="https://drive.google.com/drive/folders/1wIgQPDTeN0OkEeJA8L_DrH61PaISdTTt?usp=share_link" class="btn btn-primary"> Ver </a> 
    </div>
  </div>
</div>

<br>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/901.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 901 </h5>
       <a href="https://drive.google.com/drive/folders/1SPPpdBHZsd9AR_Xl0FDKM9bG59Fik-HB?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/902.jpeg'%}"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 902 </h5>
      <a href="https://drive.google.com/drive/folders/1_2MKFKr8BRqMgpAENOFq7wcEFJ-CxO95?usp=share_link" class="btn btn-primary">Ver </a>
    </div>
  </div>

</div>

<br>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/1001.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 1001 </h5>
       <a href="https://drive.google.com/drive/folders/1hMPikUF9PykjRDjj5Jq8_javV71gw7LL?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/1002.jpeg'%}"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 1002 </h5>
      <a href="https://drive.google.com/drive/folders/1AQJuNsL2SpQKGz7GgMqOMvFwJf_Kl0o7?usp=share_link" class="btn btn-primary">Ver </a>
    </div>
  </div>

</div>

<br>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/1101.jpeg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 1101 </h5>
       <a href="https://drive.google.com/drive/folders/1KGZk8P7tmkvCkE8ciz_2QxdI0HlM2Iie?usp=share_link" class="btn btn-primary">Ver</a>
    </div>
  </div>

  
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/1102.jpeg'%}"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> 1102 </h5>
      <a href="https://drive.google.com/drive/folders/1AGR2lbiBbY8YRskXs4O1o6wFJuLAILG1?usp=share_link " class="btn btn-primary">Ver </a>
    </div>
  </div>

</div>

{%endblock%}
