{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen11.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">Tablón de anuncios</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;">  </span>
          </h2>
          <p class="mb-3"> </p>
         
        </div>
      </div>
    </div>
  </section>

        <!-- Message -->
        <section class="page-section cta" style="background-color: gold;">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Instructivos</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <br>     
          <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > INSTRUCTIVO INGRESO A VIRTUAL CIM MOODLE  </h2></center>

           <center><a href="https://www.canva.com/design/DAFbcv06IXY/aVCFNO437pGcmTEEw6vJjw/view?website#2:video-de-apoyo" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo ingreso a plataforma Virtual CIM </a></center>

        </section>



</div>
</section>

<section class="page-section cta" style="background-color: gold;">
  <div class="container">
    <div class="row" >
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > INTEGRANDO A PADRES</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
          <br>
           <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > INTEGRANDO PADRES FEBRERO 24  </h2></center>
           <center><a href="https://youtu.be/hnUCTDraOi0" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver video INTEGRANDO PADRES FEBRERO 24 </a></center>
           <br>
           <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > INTEGRANDO PADRES MARZO 3  </h2></center>
           <center><a href="https://youtu.be/nw-RY2Na48k" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver video INTEGRANDO PADRES MARZO 3 </a></center>
           <br>
           <br>
</section>

{%endblock%}