{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen11.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">Tablón de anuncios</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;">  </span>
          </h2>
          <p class="mb-3"> </p>
         
        </div>
      </div>
    </div>
  </section>

        <!-- Message -->
        <section class="page-section cta">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower"> Instructivo ingreso a Virtual CIM</span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
                   <center><a href="https://www.canva.com/design/DAFbcv06IXY/aVCFNO437pGcmTEEw6vJjw/view?website#2:video-de-apoyo" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo </a></center>

        </section>
</div>
</section>

{%endblock%}