{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen9.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  "> Informate </h5>
      <p class="card-text">Puedes Ver Información de la gestión académica y emocional</p>
      <br>
      <a href="{% url 'einformacion'%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen5.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Servicios </h5>
      <p class="card-text">Puedes ver información de rutas, restaurantes y Natación</p>
      <br>
      <a href="{% url 'servicios'%}" class="btn btn-primary">Ver servicios</a>
    </div>
  </div>


  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen19.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Club House </h5>
      <p class="card-text">Encuentra información de Club House</p>
      <a href="{% url 'club'%}" class="btn btn-primary">Club House</a>
    </div>
  </div>
  


  
</div>

<div>
  <BR>
</div>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/gmail.jpg'%}" alt="Card image cap">
    <div class="card-body">
       <br>
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Correo Institucional </h5>
      <p class="card-text">En esta aplicacion podrás ver y enviar correos electronicos con tu cuenta institucional</p>
      <a href="https://www.google.com/intl/es-419/gmail/about/#inbox" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/virtual.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Virtual CIM - Moodle</h5>
      <p class="card-text">En esta aplicacion podrás ver material de trabajo semana a semana, realzar evaluaciones y trabajos para desarrollar en casa</p>
      <a href="http://190.26.57.26/virtualcim/login/index.php" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <br>
    <img class="card-img-top" src="{% static 'GestionDocente/img/AMCO.png'%}" alt="Card image cap">
    <div class="card-body">
      <br>
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> AMCO</h5>
      <p class="card-text">En esta aplicacion podrás ver material disponible de AMCO para desarrollar en casa </p>
      <a href="https://id.amco.me/login" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
    </div>
  </div>


</div>


{%endblock%}
