{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen2.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  "> Organigrama </h5>
      <p class="card-text">Puedes ver Información de la organizacion administrativa del colegio</p>
      <br>
      <a href="{% url 'organigrama'%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen11.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Red de comunicación </h5>
      <p class="card-text">Puedes ver información de correos institucionales, lineas telefonicas y redes sociales oficiales del colegio </p>
      <br>
      <a href="{% url 'red'%}" class="btn btn-primary">Ver</a>
    </div>
  </div>


  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen10.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Nuestros dias CIM </h5>
      <p class="card-text"> Entérate de nuestro día a día  </p>
      <a href="{% url 'egaleria'%}" class="btn btn-primary">Ver </a>
    </div>
  </div>
  


  
</div>

<div>
  <BR>
</div>


<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen9.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  "> Informate </h5>
      <p class="card-text">Puedes Ver Información de la gestión académica y emocional</p>
      <br>
      <a href="{% url 'einformacion'%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen5.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Servicios </h5>
      <p class="card-text">Puedes ver información de rutas, restaurantes y Natación</p>
      <br>
      <a href="{% url 'servicios'%}" class="btn btn-primary">Ver servicios</a>
    </div>
  </div>


  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen19.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Club House </h5>
      <p class="card-text">Encuentra información de Club House</p>
      <a href="{% url 'club'%}" class="btn btn-primary">Club House</a>
    </div>
  </div>
  


  
</div>

<div>
  <BR>
</div>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/gmail.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Correo Institucional </h5>
      <p class="card-text">En esta aplicacion podrás ver y enviar correos electronicos con tu cuenta institucional</p>
      <a href="https://www.google.com/intl/es-419/gmail/about/#inbox" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
      <BR>
      <BR>
      <a href="https://support.google.com/mail/answer/8494?hl=es-419&co=GENIE.Platform%3DDesktop" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo  </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/virtual.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Virtual CIM - Moodle</h5>
      <p class="card-text">En esta aplicacion podrás ver material de trabajo semana a semana, realzar evaluaciones y trabajos para desarrollar en casa</p>
      <a href="http://190.26.57.26/virtualcim/login/index.php" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
      <BR>
      <BR>
      <a href="https://www.canva.com/design/DAFbcv06IXY/aVCFNO437pGcmTEEw6vJjw/view?website#2:video-de-apoyo" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo  </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/AMCO.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> AMCO</h5>
      <p class="card-text">En esta aplicacion podrás ver material disponible de AMCO para desarrollar en casa </p>
      <a href="https://id.amco.me/login" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
      <a href="https://youtu.be/xcFl429L3Rs" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo  </a>


      <BR>
      <BR>
        <a href="https://drive.google.com/file/d/1Du10nDb9eRzcKANC4Fqq59iRqP2fYkS-/view?usp=share_link" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Happy </a>
        <a href="https://drive.google.com/file/d/1THGXMC_zpx2BIMm_j7P1pbwRLV4AViCH/view?usp=share_link" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Tydoo  </a>
        <a href="https://drive.google.com/file/d/1n-K3k6fpqthe4H2fnzolvxq-3SyZQ33A/view?usp=share_link" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Gear Up </a>
  
    </div>
  </div>

</div>
<br>

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/treseditores.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Los tres editores </h5>
      <p class="card-text">En esta aplicacion podrás ver los resultados de las pruebas aplicadas cada periodo</p>
      <a href="https://campuspro.lostreseditores.com/signin" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir </a>
      <BR>
      <BR>
      <a href="https://drive.google.com/file/d/1OVSSwsM9H5KX5EyEitNZA8gbGkDBSNPD/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary" > Ver instructivo  </a>
        
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/SANTILLANA.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> SANTILLANA</h5>

    </div>
  </div>



</div>



{%endblock%}
