{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen2.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  "> Informate Docente </h5>
      <p class="card-text">Puedes ver información de la gestión</p>
      <br>
      <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver </a>
    </div>
  </div>
</div>

{%endblock%}