{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <!-- <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen14.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">Red de comunicación</span>
            <br>
            <span class="section-heading-lower" style="color: rgba(252, 252, 252, 0);">  </span>
          </h2>
          <p class="mb-3"> </p>
         
        </div>
      </div>
    </div>
  </section> -->

        <!-- Message -->
        <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0.664);">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Comunicación directa </span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
                  <br>
                   <br>
                   <center>
                    <iframe src="https://drive.google.com/file/d/1Z-rMWZiQOLKzGpLZ1cWOdEBsl7h-AAlL/preview" width="1024" height="960" allow="autoplay"></iframe>                  </center>
                   <br>
                   <br>
        </section>

        <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0.664);">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Guía de comunicación  </span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
                  <br>
                   <br>
                   <center>
                    <iframe src="https://drive.google.com/file/d/1y6fWJ7gcsg25IknbnV8LGvJ_tTC2-x3b/preview" width="640" height="480" allow="autoplay"></iframe>
                   <br>
                   <br>
        </section>


        <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0.664);">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Soy yo </span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
                  <br>
                   <br>
                   <center>
                    <iframe src="https://drive.google.com/file/d/1fgLz9NQLrRA6o-Wae08S2RUVlrhYCfAN/preview" width="640" height="480" allow="autoplay"></iframe>
                   <br>
                   <br>
        </section>




             <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.35);">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="table-responsive bg-white" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto; width:auto ;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">DEPARTAMENTO</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">CORREO</th>
                            <th scope="col">TELEFONO </th>
                            <th scope="col">HORARIO DE ATENCION</th>

                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <th scope="row" style="color: #666666;"> SECRETARIA </th>
                            <td>LIBIA TORRES </td>
                            <td></td>
                            <td>4176260 - 3186198199</td>
                            <td>lunes a viernes <br>
                              7:00 am - 4:00 pm</td>
                          </tr>

                          <tr>
                            <th scope="row" style="color: #666666;"> RUTAS </th>
                            <td>ERIKA LOPEZ </td>
                            <td>rutascim@gmail.com</td>
                            <td>3102039240</td>
                            <td>lunes a viernes<br>
                              8:00 am - 12:30 pm  Y 1:30 PM A 3:00  </td>
                          </tr>

                          
                          <tr>
                            <th scope="row" style="color: #666666;"> RESTAURANTE </th>
                            <td>GIOVANY QUNITERO  </td>
                            <td></td>
                            <td>3186198166</td>
                            <td>lunes a viernes 7:00 am - 4:00 pm</td>
                          </tr>
                         
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





{%endblock%}
