{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen14.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">Organigrama</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;">  </span>
          </h2>
          <p class="mb-3"> </p>
         
        </div>
      </div>
    </div>
  </section>

        <!-- Message -->
        <section class="page-section cta" style="background-color: gold;">
          <div class="container">
            <div class="row" >
              <div class="col-xl-12 mx-auto">
                <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Mision </span>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <br>     
          <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > ESCRIBIR LA MISION  </h2></center>



        </section>



</div>
</section>

<section class="page-section cta" style="background-color: gold;">
  <div class="container">
    <div class="row" >
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Visión </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
          <br>
           <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > Escribir aqui la mision  </h2></center>
           
           <br>
           <br>
</section>

<section class="page-section cta" style="background-color: gold;">
  <div class="container">
    <div class="row" >
      <div class="col-xl-12 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Organigrama </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
          <br>
           <br>
           <center><h2 class="section-heading-lower" style="color: rgb(255, 255, 255); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1cm;" > INTEGRANDO PADRES FEBRERO 24  </h2></center>
 
           <br>
           <br>
</section>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <center> <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/restaurante1.png'%}" alt="">        </center>

      </div>
    </div>



</section>

{%endblock%}
