{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/restaurante1.png'%}" alt="">        
        </div>
      </div>



  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower" style="color: darkgoldenrod;" > Informacion  </span>
              <span class="section-heading-lower" style="color: rgb(231, 247, 10);" > Nancy sanabria  </span>
              <span class="section-heading-lower">  3204466126  - 3186198199</span>
              <span class="section-heading-lower" style="color: rgb(231, 247, 10);" > Correo:    </span>
              
            </h2>
            <p style="color: rgb(231, 247, 10); font-size: medium; font-family: Arial, Helvetica, sans-serif;" > restauranteescolar8@gmail.com </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <h2 class="">  </h2>

  </div>
  </section>

{%endblock%}
