{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->

   <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0.664);">
    <div class="container">
      <div class="row" >
        <div class="col-xl-12 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" > Menú </span>
            </h2>
          </div>
        </div>
      </div>
    </div>
            <br>
             <br>
             <center>
              <iframe src="https://drive.google.com/file/d/1bwuKDMUfhTD2YB2WmRb5sIbVl7rn-LpE/view?usp=sharing" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>         </center>
             <br>
             <br>
  </section>


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRti9ZrHbelYsRXh9-hajoMr409_hkJzEgLBpSLUTLejE-uPJOJBV-3zmY2nwAtFGZ4ne33sONtdXYX/embed?start=true&loop=true&delayms=2000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
  </section>
      
      
 <section class="page-section cta" style="background-color: rgba(255, 217, 0, 0.664);">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower" style="color: darkgoldenrod;" > Informacion  </span>
              <span class="section-heading-lower" style="color: rgb(231, 247, 10);" > Nancy sanabria  </span>
              <span class="section-heading-lower">  3204466126  - 3186198199</span>
              <span class="section-heading-lower" style="color: rgb(231, 247, 10);" > Correo:    </span>
              
            </h2>
            <p style="color: rgb(231, 247, 10); font-size: medium; font-family: Arial, Helvetica, sans-serif;" > restauranteescolar8@gmail.com </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <h2 class="">  </h2>

  </div>
  </section>

{%endblock%}
