{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'GestionDocente/img/imagen11.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower  ">CIM</span>
            <br>
            <span class="section-heading-lower" style="color: darkgoldenrod;"> RUTAS </span>
          </h2>
          <p class="mb-3"> __  </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower"> Coordinadora Rutas:  </span>
                <span class="section-heading-lower"> Erika Lopez </span>
                <br>
                <span class="section-heading-lower" style="color: darkgoldenrod; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> Telefono: 3186198199 </span>
                <span class="section-heading-lower" > Puedes pedir información en la secretaria del colegio </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <h2 class="">  </h2>
 
    </div>
    </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower" style="color: darkgoldenrod;" > Costos </span>
                <span class="section-heading-lower"> Ruta media: $182.400  (mañana o tarde)</span>
                <span class="section-heading-lower" > Ruta completa: $306.000 </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <h2 class="">  </h2>
 
    </div>
    </section>


{%endblock%}
