{% extends "GestionDocente/base.html"%}
{% load static %}
{%block content %}

<div class="card-deck">
  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen9.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  "> Rutas </h5>
      <p class="card-text">Encuentra información de rutas</p>
      <a href="{% url 'rutas'%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver Rutas </a>
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen19.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Restaurante </h5>
      <p class="card-text">Encuentra información de restaurante</p>
      <a href="{% url 'restaurante'%}" class="btn btn-primary">Ver Restaurante</a>
  
    </div>
  </div>

  <div class="card" style="width: 18rem; ;">
    <img class="card-img-top" src="{% static 'GestionDocente/img/imagen4.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-size: larger;color: blue;font-size: 1cm; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Natación </h5>
      <p class="card-text">Encuentra información de restaurante </p>
      <a href="{% url 'natacion'%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary"> Ver Natacion </a>
    </div>
  </div>


</div>

{%endblock%}
